<!--<footer class="footer page__footer"></footer>-->

<div class="footer__bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 text-right pull-right">
        <div class="clearfix">
          <ul class="social social--footer_alt">
            <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon_img icon_img--in"></i></a></li>
            <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon_img icon_img--fb"></i></a></li>
            <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon_img icon_img--tw"></i></a></li>
            <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon_img icon_img--inst"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon_img icon_img--yt"></i></a></li>
            <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
            <li><a href="https://t.co/TmjMYnQD7T" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 text-left">
        <div class="footer__copy">&copy; Lykke 2016. All rights reserved</div>
      </div>

    </div>
  </div>
</div>