<!--<footer class="footer page__footer"></footer>-->

<div class="footer__bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 text-left">
        <div class="footer__copy">&copy; Lykke 2016. All rights reserved</div>
      </div>
      <div class="col-xs-12 col-md-6 text-right pull-right">
        <div class="clearfix">
          <ul class="social social--footer_alt">
            <li><a href="https://www.facebook.com/groups/542506412568917/" target="_blank" class="social__item"><i class="icon icon--fb_simple"></i></a></li>
            <li><a href="https://twitter.com/LykkeCity" target="_blank" class="social__item"><i class="icon icon--tw"></i></a></li>
            <li><a href="http://instagram.com/lykkecity" target="_blank" class="social__item"><i class="icon icon--instagram"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCmMYipGdKMF0kzfaE-PXsNQ" target="_blank" class="social__item"><i class="icon icon--youtube"></i></a></li>
            <li><a href="https://www.linkedin.com/company/lykke-ag" target="_blank" class="social__item"><i class="icon icon--linkedin-icn"></i></a></li>
            <li><a href="https://www.reddit.com/r/lykke/" target="_blank" class="social__item"><i class="icon icon--reddit"></i></a></li>
            <li><a href="https://telegram.me/joinchat/AEGiqkF-_dNaHMwQbRSnAg" target="_blank" class="social__item"><i class="icon icon--telegram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>