*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.iml
.idea/

*.ipr
*.iws

/out/

.idea_modules/

atlassian-ide-plugin.xml

Thumbs.db
Desktop.ini
.DS_Store*
ehthumbs.db
Icon?

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

node_modules/
npm-debug.log

public/fonts
public/img
public/js