.card {
  &__header {
    @include clearfix;
    @include rem(margin-bottom, 13px);
  }

  &__title {
    overflow: hidden;
    margin-bottom: 0;

    @include rem(padding-right, 20px);
    @include rem(font-size, 22px);
    @include rem(line-height, 35px);

    a {
      color: $text;
      display: inline-block;

      &:hover {
        color: rgba($secondary, .6);
      }
    }
  }

  &__actions {
    color: #8C94A0;

    @include rem(padding, 13px 0);
    @include rem(margin, 0 -4px);

    .action_link {
      display: inline-block;
      vertical-align: middle;
      border: 0;
      background: transparent;
      outline: none !important;
      color: rgba($secondary, .6);

      @include rem(padding, 4px);
      @include rem(font-size, 16px);

      &:hover {
        color: $secondary;
      }

      .icon {
        @include rem(font-size, 16px);
      }
    }
  }

  &__inner {
    position: relative;
  }

  &__desc {
    .votes {
      color: rgba($secondary, .6);
      text-transform: uppercase;
      letter-spacing: .07em;
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;

      @include rem(margin, 0 10px);
      @include rem(font-size, 14px);
      @include rem(line-height, 24px);
    }

    a.votes:hover {
      color: rgba($secondary, 1);
    }

    .users_stack {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;

      @include rem(margin-top, -6px);
      @include rem(margin-bottom, -5px);
    }

    .label, .votes, .users_stack {
      vertical-align: middle;

      @include rem(margin-bottom, 13px);
    }
  }

  &__text {
    margin-bottom: 0;
    overflow: hidden;

    @include rem(line-height, 30px);
    @include rem(max-height, 120px);
  }

  &__sum {
    margin-bottom: 0;
    font-weight: $fw-light;
    color: $text;

    @include rem(font-size, 24px);
    @include rem(line-height, 30px);
  }

  &__breadcrumbs {
    @include rem(margin-bottom, 20px);

    .user_badge__img {
      @include rem(margin-right, 10px);
    }

    .user_badge__img,
    .breadcrumb_elem,
    .icon {
      display: inline-block;
      vertical-align: middle;
      float: none;
    }

    .breadcrumb_elem {
      letter-spacing: 0;
      color: rgba($secondary, .8);
      letter-spacing: .03em;

      @include rem(font-size, 15px);
      @include rem(line-height, 24px);
    }

    .icon--chevron-thin-right {
      position: relative;
      color: #B2B8BF;
      top: 1px;

      @include rem(font-size, 10px);
      @include rem(line-height, 20px);
      @include rem(margin-left, 6px);
    }

    a.breadcrumb_elem {
      color: rgba($secondary, .8);

      &:hover {
        color: $secondary;
      }
    }
  }

  .tags_list {
    @include rem(margin-top, 15px);
    @include rem(margin-bottom, 0);
  }

  .label {
    margin-left: 0;
  }

  .user_badge {
    margin-bottom: 0;
    overflow: hidden;

    &__img {
      @include rem(width, 30px);
      @include rem(height, 30px);
      @include rem(margin-right, 5px);

      img {
        max-width: 100%;
      }
    }

    &__title {
      line-height: normal;

      @include rem(font-size, 16px);
      @include rem(margin-bottom, 4px);
    }

    &__info {
      @include rem(padding-top, 3px);
    }
  }

  &--preview {
    @include rem(padding-right, 20px);
    @include rem(margin-bottom, 60px);

    .card__body {
      overflow: hidden;
      position: relative;

      @include rem(height, 356px);
    }

    .card__inner {
      border-bottom: 1px solid #EBEDEF;

      @include rem(padding-bottom, 70px);
    }

    .card__footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      @include rem(padding, 0 0 15px);
      @include clearfix;
    }
  }

  @media all and (max-width: 992px) {
    &--preview {
      padding-right: 0;

      .card__body {
        height: auto;

        &:after {
          display: none;
        }
      }

      .tags_list {
        margin-bottom: 10px;
      }

      .card__header, .card__footer {
        position: relative;
      }

      .card__sum {
        position: absolute;
        bottom: 0;
        text-align: left;
        padding-left: 0;
        margin-bottom: 0;

        +.card__title {
          padding-bottom: 35px;
        }
      }

      .card__inner {
        padding-bottom: 0;
      }
      
      .card__footer {
        position: static;
      }
    }
  }
}