.check {
  position: relative;
  color: #fff;
  text-align: center;
  border-radius: 100px;
  display: inline-block;
  vertical-align: middle;

  @include rem(width, 24px);
  @include rem(height, 24px);
  @include color-modifier(background);

  &:before {
    font-family: 'icon' !important;
    text-align: center;
    content: "\e931";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @include rem(font-size, 8px);
    @include rem(line-height, 26px);
  }

  &--inprogress {
    background: #CFD2D7;

    &:before {
      content: "";
      display: none;
    }
  }

  &--current, ._current & {
    &:before {
      content: "\e947";
      position: relative;
      left: 2px;
      top: -1px;

      @include rem(font-size, 12px);
    }
  }
}