.dropdown {
	&__control {

	}
	&__nav {
		background: #fff;
		width: 220px;
		text-align: left;
		border-radius: 3px;
		padding: 20px 15px;
		box-shadow: 0 5px 5px rgba(#3F4D60, .05), 0 0 20px rgba(#3F4D60, .15);
		position: relative;
		list-style: none;

		&:after {
			bottom: 100%;
			left: 50%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(255, 255, 255, 0);
			border-bottom-color: #fff;
			border-width: 10px;
			margin-left: -10px;
		}

		li {
			a {
				color: rgba($secondary, .8);
				text-decoration: none !important;
				font-weight: normal !important;
				padding: 4px 10px;
				display: inline-block;
				vertical-align: top;

				&:hover {
					color: rgba($secondary, 1);
				}
			}
		}
	}

	&__container {
		@include transition(all .3s ease);
		@include transform(translate(0,-10px) scale(.9));
		@include opacity(0);
		padding-top: 10px;
		pointer-events: none;
		position: absolute;
		margin-left: -110px;
		left: 50%;
		top: 100%;
		z-index:20;
	}
}

.nav--header {
	li {
		&:hover {
			.dropdown {
				&__control {
					color: rgba($secondary, .6);
				}

				&__container {
					@include opacity(1);
					visibility: visible;
					pointer-events: all;
					@include transform(translate(0,0) scale(1));
				}
			}

		}

		&.active {
			> a:not(.btn) {
				color: $primary;
			}
		}
	}
}

.page_nav {
	@include transition(all .4s);
	position: fixed;
	top: 84px;
	left: 0;
	width: 100%;
	z-index:19;
	background: rgb(247, 248, 249) !important;
}

.nav-up {
	.page_nav {
		@include transform(translate(0, -200%));
	}
}


.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  left: 50%;
  top: 100%;
  box-shadow: $box-shadow-popup;
  border: 1px solid $gray-25;
  border-radius: $border-radius;
  opacity: 0;
  visibility: hidden;
  display: block;
  float: none;
  padding: 0;
  background: $white;

  @include rem(width, 387px);
  @include rem(margin-left, -193px);
  @include rem(margin-top, 10px);
  @include transition(opacity $transition-default, visibility $transition-default);

  &--sm {
    @include rem(width, 296px);
    @include rem(margin-left, -148px);
  }

  &--tiny {
    @include rem(width, 120px);
    @include rem(margin-left, -60px);
  }

  &:after, &:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba($white, 0);
    border-bottom-color: $white;

    @include rem(margin-left, -10px);
    @include rem(border-width, 10px);
  }

  &:before {
    border-color: rgba($gray-25, 0);
    border-bottom-color: $gray-25;

    @include rem(margin-left, -11px);
    @include rem(border-width, 11px);
  }

  .dropdown__inner {
    overflow: hidden;
    @include rem(padding, 32px 32px 40px);
  }

  &--static {
    position: relative;
    top: 0;
    right: auto;
    left: auto;
    margin-left: 0;
    opacity: 1;
    visibility: visible;
  }

  &--show, &.show, .show &, .open &, &.open {
    opacity: 1;
    visibility: visible;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }

  ol, ul {
    @extend %disable-list-style;
  }

  .divider {
    clear: both;
    border-bottom: 1px solid $gray-5;
    width: 100%;

    @include rem(margin-bottom, 20px);
    @include rem(margin-top, 24px);

    + .h5, + h5 {
      @include rem(margin-top, -8px);
    }

    &--ver {
      width: 1px;
      height: 100%;
      border-left: 1px solid $gray-25;
      border-bottom: 0;
      clear: none;
      display: inline-block;
      vertical-align: middle;

      @include rem(margin, 0 15px);
      @include rem(min-height, 32px);
    }
  }
}

.dropdown-list {
  @extend %disable-list-style;

  text-align: left;
  color: $secondary;
  letter-spacing: 0;

  @include rem(font-size, 16px);

  li {
    border-bottom: 1px solid $gray-25;
    margin-bottom: 0;

    &:last-child {
      border-bottom: 0;
    }

    a {
      @include rem(padding, 6px 20px);

      &:hover {
        background: $gray-5;
      }
    }
  }
}