.two-column {
  margin: 50px auto;

  p {
    margin: 0;

    + p {
      margin-top: 16px;
    }
  }
}

.leading {
  background: #fff;
  padding-top: 40px;

  &__left {
    text-align: center;
  }

  &__inner {
    padding: 0 0 30px;
  }

  &__right {
    padding-top: 70px;
  }

  .h2 {
    color: rgba(#3f4d60, .6);
  }

  .slide {
    max-width: 975px;
    margin: 0 auto;
    background: #fff;
  }
}

.phone_image {
  text-align: center;
  padding: 0 40px;
  position: relative;
  max-height: 720px;
  overflow: hidden;
  width: 350px;
  float: right;
  img {
    max-width: 100%;
  }
}

.about {
  text-align: center;
}

.message {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: #ab00ff;
  font-size: 18px;
  @include border-radius(4px);
  padding: 27px 20px;
  margin: 0 -40px;
}


.screen-slideshow {
  position: absolute !important;
  top: 1px;
  left: 0;
  height: 100% !important;
  right: 0px;
  z-index: 2;
  margin: 0 auto;
  padding: 0 40px;
  img {
    width: 100% !important;
    height: auto !important;
  }
  .rsOverflow {
    height: 100%!important;
  }
}

.circle_loader {
  padding: 80px 0;
}

.image-container {
  @include rem(margin, 80px 0);

  .image {
    @include rem(margin, 0 -100px);

    + figcaption {
      margin-bottom: 0;

      @include rem(margin-top, 40px);
    }
  }

  img {
    max-width: 100%;
  }
}


.marked-data {
  font-size: 16px;
  padding: 12px 20px;

  @media all and (max-width: 767px) {
    font-size: 12px;
  }
}

hr.full {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.contacts {
  @include background-size(cover);
  background-position: center;
  padding: 22% 0 15%;

  &--bottom {
    padding: 65px 0 30px;
    font-size: 18px;

    p {
      color: #3F4D60;
    }
    a {
      color: #0DA7FC !important;
    }
    .sub_title {
      padding-right: 20px;
    }
  }

  &__icon {
    background: url(../../img/contacts-icon.png) no-repeat;
    @include background-size(26px 73px);
    width: 26px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    margin-right: 10px;
    right: 100%;

    &--mail {}
    &--pin {background-position: 0 -47px; height: 30px; top: -4px}
    &--call {background-position: 0 -21px; height: 26px; top: -2px}
  }

  &__block {
    margin-bottom: 35px;
  }
}

.small_desc {
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  @include rem(margin-top, 10px);
  @include rem(margin-bottom, 40px);
}

.simple_single_search {
  color: rgba($secondary, .6);

  @include transition(color .3s ease);

  &:hover {
    color: rgba($secondary, 1);
  }

  .icon--search {
    font-size: 18px;
    margin-right: 0;
  }
}

.latest_updated {
  font-size: 16px;
  margin-top: 22px;

  .text-muted {
    margin-right: 12px;
  }
}

.show_more {
  text-align: center;

  @include rem(margin-bottom, 60px);

  .btn {
    max-width: 100%;

    @include rem(width, 370px);
  }
}

a.action_link,
button.action_link {
  &:hover {
    color: $secondary;

    img {
      opacity: 1;
    }
  }
}

.action_link {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: transparent;
  outline: none !important;
  color: rgba($secondary, .6);

  @include transition(color .2s ease);
  @include rem(padding, 4px);
  @include rem(font-size, 16px);

  img {
    opacity: .6;
    position: relative;

    @include rem(top, -2px);
    @include rem(margin-right, 8px);
    @include transition(opacity .2s ease);
  }

  .icon {
    @include rem(font-size, 16px);
  }
}

.action_text {
  display: inline-block;
  vertical-align: middle;
  border: 0;
  background: transparent;
  outline: none !important;
  color: #8C94A0;

  @include rem(font-size, 16px);

  .icon {
    @include rem(font-size, 16px);
  }

  .card__actions & {
    @include rem(padding, 4px);
  }

  &.text-muted {
    color: rgba($secondary, .8);
  }
}

.wallet_address {
  word-break: break-all;
  word-wrap: break-word;
}

.zEWidget-launcher {
  z-index:100 !important;
}