.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index:10;
  color: rgba(#3f4d60, .80);

  @include rem(font-size, 18px);

  .social--footer_alt {
    margin-bottom: 0;

    @include rem(padding, 12px 0);
  }

  &__top {
    @include rem(padding, 48px 0);

    .row {
      font-size: 0;
    }

    .col-xs-6 {
      display: inline-block;
      vertical-align: top;
      float: none;
    }
  }

  &__bottom {
    background: #F5F6F7;

    @include rem(padding, 17px 0);
  }

  &__copy {
    color: rgba($secondary, .80);
    font-weight: normal;
    line-height: 1.67;

    @include rem(padding, 18px 0);

    a {
      color: rgba($secondary, .80);
    }
  }

  @media (max-width: $screen-landscape) {
    &__top {
      .row>div {
        margin-bottom: 25px;
      }
    }

    &__bottom {
      text-align: center;
    }

    .social--footer_alt {
      > li {
        margin-left: 10px;
      }
    }
  }

  @media (max-width: $screen-tablet) {
    .text-center {
      text-align: left !important;
    }
  }

  @media (max-width: $screen-mobile) {
    .col-xs-6 {
      width: 100% !important;
      float: none !important;
      text-align: center !important;
    }

    &__copy {
      font-size: 12px;
      margin-bottom: 0;
      padding: 0;
    }

    &__top .row > div {
      width: 100%;
      text-align: center;
    }
  }
}

.footer {
  @media all and (max-width: $screen-tablet) {
    .text-left,
    .text-right {
      text-align: center !important;
    }
  }
}