.form-control {
  text-align: left;
  background: #fff;
  color: $secondary;
  border: 1px solid $border;
  border-radius: 4px;

  @include box-shadow(none!important);
  @include rem(height, 50px);
  @include rem(padding, 10px 16px);
  @include rem(font-size, 16px);
  @include placeholder {
    color: rgba($secondary, .5);
  }

  &.error {
    border-color: #ff3e2e;
    box-shadow: inset 0 0 0 1px #ff3e2e !important;

    &:focus {
      border-color: #ff3e2e;
      box-shadow: inset 0 0 0 1px #ff3e2e !important;
    }
  }

  &:focus {
    border-color: $border;
  }

  &[disabled]:not(.select__elem), &.disabled,
  &.form-control--disabled {
    background: #F5F6F7;
    border-color: #CFD2D7;
    color: rgba($secondary, .6);
  }
}

textarea.form-control {
  resize: none;
  min-height: 140px;
  border: 1px solid $border;
  background: #fff;
  max-width: 100%;

  &:focus {
    border-color: $border;
  }
}

.form-group {
  @include rem(margin-bottom, 20px);
}

.reserve_form {
  padding: 45px 0 45px 0;
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  text-align: center;

  .btn {
    width: 100%;
  }
}


.help-block {
  margin: 17px -15px;
  font-size: 18px;
  color: rgba(#333333, .50);
}

label.error {
  display: none!important;
}


.input-search {
  width: 200px;
  position: relative;

  .form-control {
    border-radius: 100px;
    background: transparent;
    border: 1px solid transparent;
    height: 40px;
    text-align: left;
    font-size: 16px;
    padding-left: 45px;

    &:focus {
      border-color: #D3D6DB;
      background: #fff;
    }

    @include placeholder {
      color: rgba(#3F4D60, .5);
    }
  }

  .btn-link {
    position: absolute;
    top: 5px;
    left: 11px;
    z-index:2;
    color: rgba(#3F4D60, .5);

    .icon--search {
      font-size: 16px;
      margin-right: 0;
      @include rotateY(180deg);
    }

  }
}

.leading__inner,
.reserve_form {
  .btn {
    padding: 13px 30px 12px 24px;
    margin: 0 10px 15px;
  }

  .btn_group {
    margin-left: -10px;
    margin-right: -10px;
  }

  .store_icon {
    margin-right: 8px;
  }
}

.requestForm {
  position: relative;
}

.hidden_form {
  display: none;
}

.form {
  @include rem(font-size, 16px);

  &--search {
    @include clearfix;
  }

  &--message {
    position: relative;

    @include rem(margin-bottom, 38px);
    @include transition(padding .3s ease);

    .message_actions {
      position: absolute;
      bottom:0;
      left: 0;
      width: 100%;
      opacity: 0;
      visibility: hidden;

      @include transform(translate3d(0, 50px, 0));
      @include transition(all .3s ease);
    }

    &.focused {
      @include rem(padding-bottom, 75px);

      .message_actions {
        opacity: 1;
        visibility: visible;

        @include transform(translate3d(0, 0, 0));
      }
    }
  }

  &--default {
    .form-group {
      ~ .form_title {
        @include rem(margin-top, 22px);
      }
    }

    p {
      @include rem(font-size, 16px);
      @include rem(margin-bottom, 30px);
    }

    .select__value {
      @include rem(padding-left, 20px);
    }

    .prize__value {
      @include rem(font-size, 24px);
      @include rem(padding-top, 11px);
    }

    .form__submit {
      @include rem(padding, 42px 0);

      .text-muted {
        @include rem(margin-top, 15px);
      }

      .btn {
        @include rem(padding, 17px 50px 16px);
      }
    }
  }

  @media (max-width: $screen-landscape) {
    .form-control {
      @include rem(margin-bottom, 15px);
    }
  }
}

.checkbox,
.radio {
  position: relative;
  overflow: hidden;
  margin: 0;
  display: inline-block;
  vertical-align: top;
  margin-top: 0 !important;

  @extend %noselect;

  &__control {
    position: absolute;
    right: 100%;
    opacity: 0;
    visibility: hidden;

    &:checked {
      ~ .control-label {
        &:before {
          background: $primary !important;
          border-color: $primary !important;
        }

        &:after {
          opacity: 1 !important;
          visibility: visible !important;

          @include transform(scale(1));
        }
      }
    }

    &[disabled] {
      cursor: default;

      ~ .control-label {
        cursor: not-allowed;

        &:before {
          background: $gray-5 !important;
          border-color: $gray-25 !important;
        }

        &:after {
          color: $gray-25 !important;
        }
      }
    }
  }

  &__label, label {
    position: relative;

    @include rem(padding, 5px 0 5px 30px);

    &:hover {
      &:before {
        border-color: $gray-25;
      }
    }

    &:before {
      content: '';
      border: 1px solid $gray-25;
      position: absolute;
      left: 0;

      @include rem(top, 5px);
      @include rem(width, 20px);
      @include rem(height, 20px);

      @include transition(background $transition-default, border $transition-default);
    }

    &:after {
      content: '';
      color: $white;
      position: absolute;

      @include transform(scale(0));
      @include transition(opacity $transition-default, visibility $transition-default, transform $transition-default);
    }
  }
}

.checkbox {
  &__label, label {
    &:before {
      @include border-radius(4px);
    }

    &:after {
      font-family: 'icon' !important;
      color: $white;
      content: "\e90b";
      left: 0;
      text-align: center;

      @include rem(width, 20px);
      @include rem(top, 6px);
      @include rem(font-size, 16px);
    }
  }
}

.radio {
  &__control {
    &[disabled] {
      ~ .control-label {
        &:after {
          background: $gray-25 !important;
        }
      }
    }
  }

  &__label, label {
    &:before {
      background: $white;

      @include border-radius(100px);
    }

    &:after {
      background: $white;

      @include border-radius(100px);
      @include rem(width, 6px);
      @include rem(height, 6px);
      @include rem(top, 12px);
      @include rem(left, 7px);
    }
  }
}

.control-label {
  color: rgba($secondary, .8);
  font-weight: normal;

  @include rem(margin-bottom, 12px);
  @include rem(font-size, 16px);

  + .text-muted {
    @include rem(padding-top, 5px);
  }

  sup {
    text-transform: uppercase;
    font-size: 60%;
  }
}

.radio-group {
  .radio {
    display: block;
    border-bottom: 10px;
  }
}


.checkbox-group {
  .checkbox {
    display: block;
    border-bottom: 10px;
  }
}

.select {
  border-radius: 3px;
  position: relative;
  display: table;
  width: 100%;

  &__value, &__label {
    display: table-cell;
    vertical-align: baseline;
  }

  &__value {
    width: auto;
    height: auto;
    color: $secondary;
    cursor: pointer;

    @include rem(padding, 14px 40px 14px 16px);
    @include rem(font-size, 16px);

    span {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__label {
    margin: 0;

    @include rem(width, 10px);
    @include rem(font-size, 16px);
    @include rem(padding, 14px 10px 14px 20px);
  }

  &__elem {
    background: transparent;
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;

    option {
      @include rem(font-size, 16px);
    }

    &[disabled] {
      background: transparent;
    }
  }

  &:after {
    font-family: 'icon';
    content: "\e90f";
    position: absolute;
    top: 50%;
    color: rgba($secondary, .6);

    @include rem(font-size, 10px);
    @include rem(right, 15px);
    @include rem(margin-top, -4px);
  }

  &.disabled {
    .select__value {
      background: #F5F6F7;
      border-color: #CFD2D7;
      color: rgba(63, 77, 96, 0.6);
    }
  }
}

.form_title {
  border-bottom: 1px solid #DFE1E5;

  @include rem(font-size, 16px);
  @include rem(padding, 11px 0);
  @include rem(margin-bottom, 25px);
}

.fileupload {
  position: relative;

  &__field {
    position: absolute;
    opacity: 0;
    visibility: hidden;
  }

  &__btn.btn {
    padding-left: 30px;
    padding-right: 30px;
  }

  &__notice {
    margin-left: 15px;
    color: rgba($secondary, .6);
  }
}

.input-group {
  position: relative;
  
  &-addon {
    position: absolute;
    right: 0px;
    color: rgba($secondary, .6);
    cursor: pointer;
    top: 4px;
    padding: 10px;
  }
}

.switcher {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  overflow: hidden;

  @extend %noselect;

  + .control-label {
    margin-bottom: 0;
    vertical-align: middle;

    @include rem(padding-left, 10px);
  }

  &__elem {
    position: absolute;
    left: -100%;
    top: -100%;
    opacity: 0;
    visibility: hidden;

    &:checked {
      + .switcher__control:after {
        background: $primary;

        @include rem(left, 15px);
      }
    }
  }

  &__control {
    cursor: pointer;
    border-radius: 80px;
    border: 1px solid #CFD2D7;
    position: relative;
    margin-bottom: 0;
    display: block;

    @include rem(width, 35px);
    @include rem(height, 24px);

    &:after {
      content: '';
      position: absolute;
      background: #cfd2d7;
      border-radius: 40px;

      @include rem(left, 4px);
      @include rem(top, 4px);
      @include rem(width, 14px);
      @include rem(height, 14px);
      @include transition(all .2s ease);
    }
  }
}

.form_fieldset {
  @include rem(margin-bottom, 50px);
}

.input-group-addon {
  color: rgba($secondary, .6);

  @include rem(top, 4px);
  @include rem(right, 4px);
  @include rem(padding, 10px);

  .icon {
    margin-right: 0;
  }
}