.label {
  background: #3F4D60;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: $fw-semi;
  display: inline-block;
  vertical-align: baseline;
  margin: 0 4px;
  position: relative;
  top: -1px;
  border-radius: 3px;
  padding: 6px 10px 5px;
  letter-spacing: 0.07em;

  @include bg-color-mod;

  &:hover {
    color: #fff;
  }

  &--flat {
    background: transparent;
    border: 2px solid;
    padding: 4px 10px 3px;
    letter-spacing: 0.07em;
    color: rgba(#3F4D60, .35);
    border-radius: 20px;

    &:first-child {
      margin-left: 0;
    }

    &.label {
      @include text-color-mod;
    }
  }
}

.winner_label {
  font-size: 10px;
  font-weight: $fw-bold;
  color: #bcc1c8;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 22px;
  background: url(../img/competition/winner_2.svg) no-repeat center;

  &--yellow {
    color: #fff;
    background: url(../img/competition/winner_1.svg) no-repeat center;
  }
}