.label {
  position: relative;
  top: -1px;
  color: #fff;
  background: $secondary;
  font-weight: $fw-semi;
  display: inline-block;
  vertical-align: baseline;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 0.07em;
  padding: 6px 10px 5px;

  @include rem(font-size, 13px);
  @include rem(margin, 0 4px);
  @include bg-color-mod;

  &:hover {
    color: #fff;
  }

  &:first-child {
    margin-left: 0;
  }

  .icon {
    @include rem(font-size, 14px);
    @include rem(margin-right, 4px);
  }

  &--text {
    background: transparent;
    font-weight: $fw-semi;
    letter-spacing: 0.04em;

    @include rem(font-size, 15px);

    &.label {
      @include text-color-mod;
    }
  }

  &--flat {
    color: $grey;
    border: 2px solid;
    background: transparent;
    letter-spacing: 0.07em;
    padding: 4px 10px 3px;

    @include rem(border-radius, 20px);

    &.label {
      @include text-color-mod;
    }
  }
}

.winner_label {
  font-size: 10px;
  font-weight: $fw-bold;
  color: #bcc1c8;
  width: 22px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  line-height: 22px;
  background: url(../img/competition/winner_2.svg) no-repeat center;

  &--yellow {
    color: #fff;
    background: url(../img/competition/winner_1.svg) no-repeat center;
  }
}