.list-inline {
  padding: 0 !important;

  li {
    &:after {
      content: '';
      width: 2px;
      height: 2px;
      background: rgba($secondary, .6);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;

      @include rem(margin, 0 10px 0 25px);
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.list {
  &__icon {
    @include rem(width, 40px);
    float: left;

    .icon {
      @include rem(font-size, 30px);
      color: $secondary;
    }
  }

  &__content {
    overflow: hidden;
  }

  &--info {
    list-style: none !important;
    padding: 0 !important;

    @include rem(margin-bottom, 42px !important);

    .list__item {
      color: $secondary;
      letter-spacing: 0;

      @include rem(font-size, 16px);
      @include rem(line-height, 18px);
      @include rem(margin-bottom, 30px);
      @include clearfix;

      .title {
        font-weight: $fw-semi;

        @include rem(margin-bottom, 8px);
      }

      .text-muted {
        display: inline-block;
        vertical-align: baseline;
        float: left;

        @include rem(width, 70px);
        @include rem(margin-right, 10px);
      }

      a {
        color: $secondary;
      }

      p {
        margin-bottom: 0;
        color: rgba($secondary, .6);

        @include rem(font-size, 16px);
        @include rem(line-height, 18px);
      }

      span {
        overflow: hidden;
        display: block;
      }

      &._current {
        p {
          color: $secondary;
        }
      }
    }
  }

  &--text_previews {
    list-style: none !important;
    padding-left: 0 !important;

    .list__item {
      @include rem(margin-bottom, 40px);
    }

    .list__icon {
      @include rem(width, 50px);
    }

    a {
      display: inline-block;

      &:hover {
        p {
          color: rgba($secondary, .6);
        }
      }
    }

    p {
      color: $text;

      @include rem(line-height, 24px);
      @include rem(margin-bottom, 6px);
      @include transition(color .2s ease);
    }

    span {
      color: rgba($secondary, .6);
      letter-spacing: 0;

      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
    }
  }

  &--striped {
    @include rem(margin-top, -7px);
    @include rem(margin-bottom, 60px);

    .list__item {
      border-top: 1px solid $border-alt;
      color: $text;

      @include rem(font-size, 18px);
      @include rem(line-height, 30px);
      @include rem(padding, 10px 0);

      &:first-child {
        border-top: 0;
      }

      a {
        color: inherit;

        @include rem(padding, 10px 0);

        &:hover {
          color: $blue;
        }
      }
    }
  }
}