.list-inline{
  padding: 0 !important;

  li {
    &:after {
      content: '';
      width: 2px;
      height: 2px;
      background: rgba($secondary, .6);
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px;
      margin: 0 10px 0 25px;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }
  }
}

.assets_list {
  list-style: none;
  padding: 0 !important;
  margin-bottom: 0 !important;
  width: 100%;
  font-size: 0 !important;

  a {
    text-decoration: none;

    &:hover span {
      text-decoration: underline;
    }
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 10px;
    width: 12.5%;
    font-size: 18px;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 6px;
    }

    @media all and (max-width: 767px) {
      width: 20%;
    }

    @media all and (max-width: 540px) {
      width: 25%;
      padding: 0;
    }
  }
}

.news_list {
  &__item {
    padding: 35px 0 25px;
    border-bottom: 1px solid #ebedef;
  }

  &__media {
    margin-bottom: 30px;
  }

  &__date {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    color: rgba(#3f4d60, .6);
    margin-bottom: 9px;
    display: block;
  }

  &__title, &__title.h3 {
    color: #333333;
    margin-bottom: 9px;
    margin-top: 0;
    padding-right: 20px;

    a:not(.btn) {
      color: #333333;

      &:hover {
        color: #3f4d60;
      }
    }
  }

  &__text, p.news_list__text {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    color: #8c94a0;
  }
}

.list {
  &__icon {
    @include rem(width, 40px);
    float: left;

    .icon {
      @include rem(font-size, 30px);
      color: $secondary;
    }
  }
  
  &__content {
    overflow: hidden;
  }

  &--info {
    list-style: none !important;
    padding: 0 !important;

    @include rem(margin-bottom, 42px !important);

    .list__item {
      color: $secondary;
      letter-spacing: 0;

      @include rem(font-size, 16px);
      @include rem(line-height, 18px);
      @include rem(margin-bottom, 30px);
      @include clearfix;

      .title {
        font-weight: $fw-semi;

        @include rem(margin-bottom, 8px);
      }

      .text-muted {
        display: inline-block;
        vertical-align: baseline;
        float: left;

        @include rem(width, 70px);
        @include rem(margin-right, 10px);
      }

      a {
        color: $secondary;
      }

      p {
        margin-bottom: 0;
        color: rgba($secondary, .6);

        @include rem(font-size, 16px);
        @include rem(line-height, 18px);
      }

      span {
        overflow: hidden;
        display: block;
      }

      &._current {
        p {
          color: $secondary;
        }
      }
    }
  }

  &--text_previews {
    list-style: none !important;
    padding-left: 0 !important;

    .list__item {
      @include rem(margin-bottom, 35px);
    }

    .list__icon {
      @include rem(width, 50px);
    }

    a {
      display: inline-block;

      &:hover {
        p {
          color: rgba($secondary, .6);
        }
      }
    }

    p {
      color: $text;

      @include rem(line-height, 24px);
      @include rem(margin-bottom, 6px);
      @include transition(color .2s ease);
    }

    span {
      color: rgba($secondary, .6);
      letter-spacing: 0;

      @include rem(font-size, 16px);
      @include rem(line-height, 24px);
    }
  }
}
