.table {
  width: 100%;

  @include rem(font-size, 18px);

  a {
    color: $blue;

    &:hover {
      color: $secondary;
    }
  }

  tr {
    &:hover {
      td {
        background: rgba(#DFE1E5, .2);
      }
    }

    th, td {
      text-align: left;
      border-bottom: 1px solid $border;
      white-space: nowrap;

      @include rem(padding, 14px 20px);

      &:first-child {
        text-align: left;
      }
    }

    td {
      cursor: pointer;
    }

    th {
      font-weight: $fw-semi;
      color: $text;
      text-transform: uppercase;

      @include rem(padding, 17px 20px);
      @include rem(font-size, 16px);

      &:last-child {
        //width: 20%;
      }
    }
  }

  &--simple {
    table-layout: inherit;
    cursor: auto;

    tr {
      td,th {
        cursor: auto;
        white-space:normal;
        text-align: left;

        @include rem(font-size, 14px);
      }

      th {
        vertical-align: bottom;
      }

      &:hover {
        td,th {
          cursor: auto;
          background: transparent;
        }
      }
    }
  }

  &--transparent {
    tr {
      td {
        border-bottom: 0 !important;
        background: transparent !important;
        text-align: left;
        cursor: auto;
        width: 50%;
        vertical-align: top;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;

        @include rem(padding, 10px 20px 10px 0);

        b {
          display: block;
          @include rem(margin-bottom, 8px);
        }
      }
    }
  }

  @media all and (max-width: 539px) {
    /*font-size: 14px;

    tr {
      th, td {
        padding: 10px 10px;
      }
      th {
        font-size: 13px;
        padding: 12px 10px;
      }
    }*/
  }
}

.table-responsive {
  overflow: auto;

  @include rem(padding-bottom, 10px);
  @include rem(margin-bottom, 40px);
}

.table-striped {
  tr:nth-child(even) {
    td {
      background: rgba(#DFE1E5, .2);

    }
  }
}