.tags_list {
  @include rem(margin-bottom, 30px);
}

.tag_item {
  display: inline-block;
  vertical-align: top;
  letter-spacing: 0;
  border: 1px solid #cfd2d7;
  color: rgba($secondary, .6);

  @include transition(border .2s ease);
  @include rem(font-size, 16px);
  @include rem(line-height, 24px);
  @include rem(margin-right, 4px);
  @include rem(margin-bottom, 10px);
  @include rem(border-radius, 4px);

  &:hover {
    border-color: #b2b8bf;
  }

  a {
    display: block;
    color: rgba($secondary, .6) !important;

    @include rem(padding, 4px 15px)
  }
}