.user_badge {
  white-space: normal;

  @include rem(margin-bottom, 25px);
  @include clearfix;

  &__img {
    float: left;
    border-radius: 100px;

    @include rem(width, 60px);
    @include rem(height, 60px);
    @include rem(margin-right, 18px);

    img {
      border-radius: 100px;
      width: 100%;
    }
  }

  &__info, &__message {
    overflow: hidden;

    a {
      color: inherit;
    }
  }

  &__message {
    @include rem(padding-top, 6px);
  }

  &__title {
    color: $text;
    font-weight: $fw-semi;

    @include rem(font-size, 18px);
    @include rem(line-height, 32px);

    a {
      color: inherit;

      &:hover {
        color: rgba($secondary, .6);
      }
    }
  }

  &__desc {
    letter-spacing: 0;
    color: rgba($secondary, .6);

    @include rem(font-size, 16px);
    @include rem(line-height, 24px);

    a {
      color: rgba($secondary, .8);

      &:hover {
        color: $secondary;
      }
    }
  }

  &--small {
    margin-bottom: 0;

    .user_badge__img {
      @include rem(width, 30px);
      @include rem(height, 30px);
      @include rem(margin-right, 12px);
    }

    .user_badge__info, .user_badge__message {
      @include rem(padding-top, 4px);
    }
  }
}

.users_stack {
  position: relative;

  @include rem(padding-right, 15px);

  &__item {
    float: right;
    position: relative;

    @include rem(margin-right, -15px);

    img {
      border-radius: 30px;
      border: 2px solid #fff;

      @include rem(width, 34px);
      @include rem(height, 34px);
    }

    .winner_label {
      position: relative;
      z-index:2;

      @include rem(margin-left, -18px);
      @include rem(margin-bottom, -26px);
      @include rem(margin-right, 20px);
    }
  }

  &__count {
    z-index:10;
    color: #fff;
    position: absolute;
    border-radius: 30px;
    text-align: center;
    white-space: nowrap;
    background: rgba($secondary, .35);

    @include rem(left, 2px);
    @include rem(top, 2px);
    @include rem(width, 30px);
    @include rem(height, 30px);
    @include rem(font-size, 15px);
    @include rem(line-height, 28px);
  }
}