@media (max-width: 539px) {
  .nav {
    float: none !important;
    margin-right: 0;

    &__title {
      display: block !important;
    }
  }

  .features__list .h4 {
    margin: 20px 0 34px;
  }

  .leading__inner {
    padding-bottom: 70px !important;

    .h2 {
      font-size: 20px;
      line-height: 35px;
      margin-bottom: 30px;
    }
  }

  .message {
    margin: 0 -30px;
  }

  .screen-slideshow {
    max-width: 350px + 80px;
  }
}

@media (max-width: 480px) {
  .grid {
    &__item {
      width: 100% !important;
      margin-bottom: 20px;
    }
  }
}

@media (max-width: 767px) {
  .leading {
    padding-top: 70px;
  }
}

@media (min-width: 690px) {
  .two-column {
    max-width: 760px;

    -webkit-columns: 2 200px;
    -moz-columns: 2 200px;
    columns: 2 200px;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
  }
}

@media (min-width: 540px) {
  .leading {
    &__inner {
      text-align: left;

    }
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .nav--header {
    > li {
      margin-right: 2px;
    }
  }

  .screen-slideshow {
    padding: 0;
    width: 350px;
  }
}


@media (min-width: 768px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .leading {
    &__inner {
      padding: 218px 0 65px;
    }

    &__right {
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  .reserve_form {
    padding-left: 10px;
  }

  .phone_image {
    padding: 0;
  }
  .section--padding {
    padding: 70px 0;
  }
  .screen-slideshow {
    margin: 0;
    left: auto;
  }
}

@media (min-width: $screen-tablet + 1) {
  .reserve_form {
    padding-left: 30px;
  }

  .leading .royalSlider {
    height: 720px;

    .rsOverflow, .rsSlide, .slide  {
      height: 100% !important;
    }
  }
}

@media (max-width: $screen-tablet) {
  .description--preview p {
    font-size: 0.45em;
    line-height: 1.5em;
  }

  .dropdown__container {
    display: none;
  }
}

@media (max-width: $screen-landscape) {
  .leading__right {
    display: none;
  }

  .leading__inner {
    padding: 0 0 70px;
  }

  .rsBullets {
    bottom: 28px;
  }

  .grid {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 20px;

    &__col {
      padding: 0;
      width: 100%;
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
      float: none;
      @include transform(none !important);
    }

    &__item {
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1280px;
    width: 100%;
  }
}


@media (max-width: 767px) {
  .dropdown__container {
    display: none;
  }
}