.content {
  overflow: hidden;

  &__left {
    .h2, h2 {
      @include rem(margin-bottom, 25px);
    }
  }

  &__right {
    .h5, h5 {
      text-transform: uppercase;
      border-bottom: 1px solid #DFE1E5;
      letter-spacing: .11em;

      @include rem(margin-bottom, 30px);
      @include rem(padding-bottom, 10px);
    }
  }

  @media (min-width: 992px) {
    &__right {
      @include rem(padding-left, 52px);
      @include rem(padding-right, 48px);
    }
  }
}