.page_title {
  &--sub {
    font-weight: $fw-semi;
    color: $primary;
    font-family: $ff;
    letter-spacing: .07em;
    margin: 5px 0 25px;
    text-transform: uppercase;

    @include rem(font-size, 14px);
    @include rem(margin, 5px 0 25px);
  }
}

.sub_title {
  text-transform: uppercase;
  font-weight: $fw-semi;
  color: #333;
  letter-spacing: .03em;
  position: relative;

  @include rem(font-size, 18px);
  @include rem(margin, 40px 0 10px);

  &:first-child {
    margin-top: 0;
  }
}

.page_nav {
  background: rgba(#EAEDEF, .4);
  overflow: hidden;
  @include transform(translate(0,0));

  &__inner {
    padding: 24px 0;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 50px 10px 0;
    color: rgb(51, 51, 51);
    text-decoration: none;

    a {
      text-decoration: none !important;
      color: #333 !important;
    }
  }

  &__list {
    display: inline-block;
    vertical-align: middle;

    @include rem(margin-bottom, 10px);
  }

  .btn {
    margin-top: 6px;

  }

  &__item {
    color: rgba(#3F4D60, .8);
    float: left;
    margin: 10px 45px 0 0;

    &:last-child {
      margin-right: 0;
    }

    a {
      padding: 10px 0;
      position: relative;
      display: inline-block;
      color: rgba(#3F4D60, .8);

      &:hover {
        color: #333333;
        text-decoration: none;
      }
    }

    &.active {
      a:after {
        content: '';
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: -36px;
        border-bottom: 2px solid $primary;
      }
      a {
        position: relative;
        top: 2px;
        font-weight: 600;
        color: #333333;
      }
    }
  }
}

//new
.page_nav {
  position: static;
  top: 100px;
  background: #fff !important;

  .page_nav__title {
    display: none;
  }

  &__list {
    display: inline-block;
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eaedef;

    @include clearfix;
  }

  &__item {
    float: none;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;

    a {
      color: #3f4d60;
      opacity: 0.6;
      font-weight: normal;

      &:hover {
        color: #3f4d60;
        opacity: 1;
      }

      &:after {
        display: none;
        content: '';
      }
    }

    &.active {
      a {
        color: #3f4d60;
        opacity: 1;
        position: static !important;
        font-weight: 600;
      }
    }
  }

  &__inner {
    padding: 0 !important;
  }

  &__list {
    margin-bottom: 0;
    //padding-top: 22px;
  }

  .container {
    width: 1240px + 30px;
    max-width: 100%;
  }

  @media (max-width: 992px) {
    top: 96px;
  }

  @media (max-width: 767px) {

    &__list {
      border-top: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    .container {
      padding-left: 10px;
    }

    &__item {
      margin-right: 25px;
    }

    &__inner {
      border-top: 1px solid #eaedef;
    }
  }

  @media all and (max-width: $screen-landscape) {
    .container {
      padding-left: 30px !important;
    }

    &__list {
      white-space: normal !important;
    }
  }

  @media all and (max-width: 640px) {
    .container {
      padding-left: 10px !important;
    }

    &__list {
      white-space: nowrap !important;
    }
  }
}

.page {
  &__title, h1.page__title, h2.page__title {
    @include rem(margin-bottom, 17px);

    span {
      display: inline;
      font-weight: $fw-light;
    }
  }

  &__subtitle, h3.page__subtitle {
    text-align: center;
    color: $gray-light;

    @include rem(margin-bottom, 68px);
  }

  &__header {
    @include clearfix;
    @include rem(margin-bottom, 30px);

    h2, h1, h3 {
      margin-bottom: 0 !important;
    }

    .tabs_stack {
      margin-bottom: 0;
      @include rem(margin-top, 10px);
    }
  }

  &__actions {
    margin-top: -7px;
  }

  &__list, ul.page__list {
    list-style: none;
    padding-left: 0;

    @include rem(font-size, 18px);

    li {
      @include rem(margin-bottom, 15px);
    }
  }

  &__features,
  &__features.features {
    text-align: left;
    background: transparent;
    margin: 40px -14px 0;

    .features__item {
      margin-bottom: 30px;

      &__img {
        margin-bottom: 45px;
      }

      &__text {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        color: #3f4d60;
      }
    }
  }

  .section--padding {
    @include rem(padding, 70px 0)
  }

  .container {
    width: 880px + 30px;
    max-width: 100%;

    &--extend {
      width: 1200px
    }
  }

  @media (max-width: $screen-tablet)  {
    &__features, &__features.features {
      margin-left: 0;
      margin-right: 0;
    }
  }

  @media (max-width: $screen-landscape)  {
    &__features, &__features.features {
      text-align: center;

      &__item {
        max-width: 215px;
      }
    }

    .text-center-sm {
      text-align: center;
    }
  }

  @media (max-width: 640px)  {
    &__subtitle, h3.page__subtitle {
      margin-bottom: 40px;
    }
  }
}

.page_border {
  border-bottom: 1px solid #eaedef;
  width: 1240px;
  max-width: 100%;
  margin: 0 auto;
}