html {
  font-size: 16px;
  min-height: 100%;
  height: auto;
  position: relative; }

body {
  font-family: $ff;
  font-weight: $fw-regular;
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
  line-height: normal;
  color: #3f4d60;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include rem(font-size, 16px);
}

.automargin {float: none;margin-right: auto; margin-left: auto;}
.bold {font-weight: $fw-semi}
.semibold {font-weight: $fw-semi}

.t-simulate { display: table; width: 100%; height: 100%;}
.t-row {display: table-row; width: 100%; height: 100%}
.t-cell {display: table-cell; vertical-align: middle}

.nopadding {padding: 0}

%noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

%disable-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

.fs22 {
  @include rem(font-size, 22px);
}

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.relative {
  position: relative;
}

.mb0 {
  margin-bottom: 0 !important;
}