html {
  font-size: 16px;
  min-height: 100%;
  height: auto;
  position: relative; }

body {
  font-family: $ff;
  font-weight: $fw-regular;
  -webkit-text-size-adjust: none;
  font-size-adjust: none;
  line-height: normal;
  color: $text;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  @include rem(font-size, 16px);
  @include rem(padding-bottom, 100px);
}