$theme-colors: (
  'primary': $primary,
  'blue': $blue,
  'green': $green,
  'red': $red,
  'yellow': $yellow,
  'gray': $grey
);

@mixin color-modifier($properties...) {
  @each $name, $value in $theme-colors {
    &--#{$name} {
      @each $property in $properties {
        #{$property}: #{$value};
      }
    }
  }
}

@mixin color-modifier-progress($property, $opacity, $inner-elem, $inner-elem-property) {
  @each $name, $value in $theme-colors {
    &--#{$name} {
      #{$property}: #{$value};
      background: rgba($value, $opacity);

      .#{$inner-elem} {
        #{$inner-elem-property}: #{$value};
      }
    }
  }
}

.text-red   { color: $red; }
.text-green { color: $green; }
.text-muted { color: rgba($secondary, .6);  }

.middot {
  @include rem(margin, 0 10px)
}

.text {
  @include color-modifier(color)
}