
a {
  color: #0388ef;
  text-decoration: none;
  transition: $all;

  &:hover {
    color: #3f4d60;
    text-decoration: none;
  }
}


a, input, button {
  &:focus {outline: none !important}
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {margin-top: 0; font-weight: normal; font-family: $ff}

h5, .h5 {
  font-weight: $fw-semi;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  color: $text;

  @include rem(font-size, 18px);
}

h4, .h4 {
  font-weight: $fw-semi;
  font-style: normal;
  font-stretch: normal;
  color: $text;
  letter-spacing: 0;
  text-transform: none;
  line-height: 1.67;

  @include rem(font-size, 18px);



  @include rem(font-size, 21px);
}


h4.h4_uppercase, .h4.h4_uppercase {
  line-height: 1.78;
  letter-spacing: 1.8px;
  text-transform: uppercase;

  @include rem(font-size, 18px);
}


h3, .h3 {
  font-weight: $fw-semi;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.43;
  color: $text;

  @include rem(font-size, 28px);
  @include rem(margin-bottom, 30px);
}

h2, .h2 {
  font-weight: $fw-semi;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  color: #333333;

  @include rem(font-size, 40px);
  @include rem(margin-bottom, 30px);
}

h1, .h1 {
  font-weight: $fw-semi;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  color: $text;

  @include rem(font-size, 50px);
  @include rem(margin-bottom, 30px);
}

b, strong {
  font-weight: $fw-semi;
}

p {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  color: $secondary;

  @include rem(font-size, 18px);
  @include rem(margin-bottom, 15px);

  + h3, + h4, + h2 {
    @include rem(margin-top, 45px);
  }
}

hr {
  width: 80%;
  border-top: 2px solid $border-alt;

  @include rem(max-width, 770px);
  @include rem(margin, 45px auto);
}

blockquote {
  font-weight: $fw-semi;
  color: $secondary;
  line-height: 1.9;
  text-align: center;
  border: 0;
  padding: 0;

  @include rem(font-size, 21px);
  @include rem(margin, 50px auto);
  @include rem(padding, 0 20px);
  @include rem(max-width, 530px);

  p {
    font-weight: $fw-semi;
    color: $secondary;
    line-height: 1.9;

    @include rem(font-size, 21px);
  }

  cite {
    font-weight: $fw-semi;
    color: #8c94a0;
    display: block;
    text-align: center;
    font-size: 21px;
    font-style: normal;
    line-height: 1.9;
    letter-spacing: normal;

    @include rem(font-size, 22px);
    @include rem(margin-top, 15px);
  }
}

figcaption {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.82;
  color: rgba($secondary, .6);

  @include rem(font-size, 16px);
}

.smallcaps {
  text-transform: none;
  letter-spacing: normal !important;
}

.lead {
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  color: $secondary;

  @include rem(font-size, 22px);
  @include rem(margin-bottom, 48px);
}

.text {
  .lead {
    @extend .lead;
  }

  p, ul, ol {
    font-weight: normal;
    font-style: normal;
    line-height: 1.67;
    color: $secondary;

    @include rem(font-size, 18px);
    @include rem(margin-bottom, 15px);

    + h3, + h4, + h2 {
      @include rem(margin-top, 45px);
    }
  }

  ul {
    list-style-position: outside;
    list-style-type: disc;
  }

  table {
    width: 100%;
  }

  img, iframe, video, audio {
    max-width: 100%;
  }

  ul {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: rgba(63, 77, 96, 0.8);
    list-style: none;

    @include rem(font-size, 18px);
    @include rem(line-height, 30px);
    @include rem(padding-left, 25px);
    @include rem(margin-top, 20px);
    @include rem(margin-bottom, 20px);


    li {
      color: $secondary;
      position: relative;

      @include rem(margin-bottom, 15px);

      &:before {
        color: $primary;
        content: "\2022";
        position: absolute;
        right: 100%;
        top: -2px;
        line-height: normal;

        @include rem(font-size, 28px);
        @include rem(margin-right, 11px);
      }
    }

    .li {color: $secondary;}

    a:not(.btn) {
      color: $blue;
    }

    + h3, + h4, + h2 {
      @include rem(margin-top, 45px);
    }
  }

  ol {
    color: rgba(63, 77, 96, 0.8);
    @include rem(padding-left, 24px);

    li {
      @include rem(margin-bottom, 10px);
    }

    + h3, + h4, + h2 {
      @include rem(margin-top, 45px);
    }
  }
}



@media (max-width: $screen-landscape)  {
  html {
    font-size: 14px;
  }
}

@media (max-width: $screen-mobile)  {
  html {
    font-size: 12px;
  }
}