$primary: #ab00ff;
$secondary: #3F4D60;
$blue: #0DA7FC;
$green: #13B72A;
$red: #FF3E2E;
$yellow: #FFAE2C;

$light: #f8f7ef;
$text: #333333;
$dark: #272723;
$gray: #909c9e;
$gray-light: #b2b8bf;
$grey: rgba(#3F4D60, .35);
$border: #e1e1e1;
$border-alt: #DFE1E5;

$ff: "Proxima Nova", "Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;

$fw-black:      900;
$fw-extra:      800;
$fw-bold:       700;
$fw-semi:       600;
$fw-regular:    400;
$fw-light:      200;

$all: all .3s ease;

$main-font-size: 24px;

$screen-mobile: 543px;
$screen-mobile-old: 640px;
$screen-landscape: 767px;
$screen-tablet: 991px;
$screen-desktop: 1199px;
