$violet: #ab00ff;
$secondary: #3F4D60;
$blue: #0DA7FC;
$green: #13B72A;
$red: #FF3E2E;
$yellow: #FFAE2C;

$white: #fff;
$light: #f8f7ef;
$text: #333333;
$dark: #272723;
$gray: #909c9e;
$gray-light: #b2b8bf;
$gray-25: #CFD2D7;
$gray-5: #F5F6F7;
$gray-dark: #8c94a0;
$grey: rgba($secondary, .35);
$border: #e1e1e1;
$border-alt: #EBEDEF;

$primary: $blue;

$border-radius: 4px;

$box-shadow-value: 0 8px 40px 0;
$box-shadow-popup: 0 5px 5px 0 rgba(63,77,96,0.05), 0 8px 50px 0 rgba(63,77,96,0.40);
$box-shadow-modal: $box-shadow-value rgba(140,147,160,0.60);

$ff: "Proxima Nova", "Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;

$fw-black:      900;
$fw-extra:      800;
$fw-bold:       700;
$fw-semi:       600;
$fw-regular:    400;
$fw-light:      300;
$fw-thin:       200;

$transition-default: .3s ease;
$all: all $transition-default;

$main-font-size: 24px;

$screen-mobile-tiny: 480px;
$screen-mobile: 543px;
$screen-mobile-old: 640px;
$screen-landscape: 767px;
$screen-tablet: 991px;
$screen-desktop: 1199px;
